<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
    <head>
        <meta charset="UTF-8">
        <title>Title</title>
    </head>
    <link rel="stylesheet" type="text/css" href="css/main.css">
    <body>
        <script src="https://code.jquery.com/jquery-1.12.4.js"></script>
        <script src="/js/main.js"></script>
        <h3>URL Shortener</h3>
        <section id="sect">
            <form id="form">
                <div id="url-input" class="col-sm-12">
                    <div class="row">
                        <div class="col-sm-4">
                            <input id="input" placeholder="Input URL Here!">
                            <input id="sbutton"value="Shorten" type="button" onclick="dataSend()">
                        </div>
                    </div>
                </div>

                <div id="resultDiv">
                    <p th:if="${msg}!=null" th:text="${msg}"></p>
                </div>
            </form>
        </section>
        <br>
    </body>
</html>
